body, h1, p, h3{
    margin: 0px;
    padding: 0px;
}



header{
    height: 73px;
    background-color: black;
}
header h1{
    top: 7px;
    height: 59px;
    position: relative;
    color: white;
    font: normal normal 500 50px/59px Raleway;
    text-align: center;
}



.imgDiv{
    width: auto;
    background-color: black;
}
.imgDiv img{
    width: 100%;
    background-color: transparent;
}



article{
    width: auto;
    height: 348px;
    background-color: black;
    display: flow-root;
}
article p{
    top: 76px;
    left: 150px;
    width: 600px;
    height: 197px;
    position: relative;
    float: left;
    text-align: justify;
    font: normal normal 300 16px/19px Raleway;
    color: white;
}
article img{
    top: 45px;
    right: 150px;
    width: 399px;
    height: 237px;
    position: relative;
    float: right;
}



.caracteristics{
    width: auto;
    height: 348px;
    background-color: #1E1A13;
}
.caracteristics h1{
    top: 75px;
    width: auto;
    height: 47px;
    position: relative;
    text-align: center;
    font: normal normal 500 40px/47px Raleway;
    color: white;
}
.container{
    top: 170px;
    width: auto;
    margin: 0% 20% 0% 20%;
    text-align: center;
    display: flow-root;
    position: relative;
    opacity: 0.98;
 }
 .container .element{
     float: left;
     width: 33.3%;
     color: white;
 }
 .element h2{
     font: normal normal 300 25px/30px Raleway;
 }



 .gallery{
     width: 100%;
     height: 348px;
     background-color: #000000;
     opacity: 0.96;
     text-align: center;
     display: inline-block;
 }
 .gallery img{
     top: 73px;
     width: 316px;
     height: 202px;
     position: relative;
 }
 #igu3{
     margin-left: 16px;
     margin-right: 16px;
 }
 


 footer{
     width: 100%;
     height: 102px;
     text-align: center;
     opacity: 0.94;
     background-color: #1E1A13;
 }
 footer h3{
     top: 39px;
     position: relative;
     font: normal normal 300 20px/24px Raleway;
     color: white;
 }
 footer a{
     text-decoration: none;
     color: white;
     font: normal normal 300 20px/24px Raleway;
 }
 